.MealSection {
  overflow: hidden;
}

.MealSectionHeader {
  margin-bottom: var(--space-md);
}

.MealItems {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .MealSectionHeader .ui-button span {
    display: none;
  }

  .MealSectionHeader .ui-button {
    width: 32px;
    padding: 0;
  }
}
