.Analytics {
  margin-top: 20px;
  padding: 20px;
  background: #111;
  border-radius: 12px;
}

.Analytics h4 {
  text-align: center;
}

.AnalyticsRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}