.SearchResultCard {
  width: 100%;

  display: flex;

  align-items: center;

  gap: 16px;

  text-align: left;
}

.SearchResultCardImage {
  width: 64px;

  height: 64px;

  object-fit: cover;

  border-radius: var(--radius-md);
}


.SearchResultCardContent h3 {
  margin: 0;

  font-size: 1rem;
}


.SearchResultCardContent p {
  margin: 4px 0;

  color: var(--color-primary);
}


.SearchResultCardContent span {
  color: var(--color-text-muted);

  font-size: .85rem;
}